{% extends 'base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block seo %}
    <meta name="description" content="Adresář kontaktů" />
    <meta name="author" content="Tomáš Stejskal" />
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelectorAll('.delete').forEach(item => {
            item.addEventListener('click', event => {
                alert('Opravdu si přejete smazat tento kontakt ?');
            })
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $('.bnt-note').on('click', function () {
            var id = this.id;
            $.ajax({
                url: '/get-user-info',
                type: "GET",
                data: {
                    id: id
                },
                contentType: "application/json",
                success: function (result) {
                    $('#contactName').text(result.fullName);
                    $('#contactNote').text(result.note);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Jméno</th>
            <th scope="col">Příjmení</th>
            <th scope="col">Telefon</th>
            <th scope="col">Email</th>
            <th scope="col">Zpráva</th>
            <th scope="col">
                Akce
                <a class="btn btn-success" href="{{ path('app_new') }}">Přidat kontakt</a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.surname }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" id="{{ contact.id }}" class="btn btn-primary bnt-note" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Zobrazit poznámku
                    </button>

                </td>
                <td>
                    <a href="{{ path('app_edit', {'identifier': contact.identifier}) }}" class="btn btn-warning">Upravit</a>
                    <a href="{{ path('app_delete', {'id': contact.id}) }}" class="btn btn-danger delete">Smazat</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container d-flex align-items-center justify-content-center">
        <div>
            {{ knp_pagination_render(contacts) }}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Poznámka - <span id="contactName"></span></h1>
                </div>
                <div id="contactNote" class="modal-body">
                    Poznámka uživatele
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
